@model IEnumerable<ASCE.Models.Request>

@{
    ViewBag.Title = "Список услуг";
}

<h2>Список доступных услуг</h2>

<p>
    @Html.ActionLink("Добавить услугу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonalAccount.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.Name)
        </th>
        <th>
            Исполнитель
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalAccount.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Информация", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
