@model ASCE.Models.Counter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Counter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalAccount.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalAccount.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateVerification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateVerification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInstall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInstall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SealNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SealNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallPlace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
